{% extends 'main/base.html' %}

{% block content %}

    <div class="page-header">
        <h1>벽산블루밍</h1>
        <h4> 조회시간 : {{ time }}</h4>
        <h4> 매매 건수 : {{ counts }}</h4>
    </div>

    <div class="content container">

    <table class="tg">
    <tr>
    <th class="tg-cly1">거래유형</th>
    <th class="tg-cly1">동</th>
    <th class="tg-cly1">층</th>
    <th class="tg-cly1">면적</th>
    <th class="tg-cly1">가격</th>
    <th class="tg-cly1">집주인 인증</th>
    <th class="tg-0lax">올린일자</th>
    <th class="tg-0lax">부동산</th>
    <th class="tg-0lax">올린부동산갯수</th>
    <th class="tg-0lax">거래완료</th>
    <th class="tg-0lax">비고</th>
    <th class="tg-0lax">허위</th>
    </tr>

{% for content in contents %}
    <tr>
      <td>{{content.0 }}</td>
      <td>{{content.1 }}</td>
      <td>{{content.2 }}</td>
      <td>{{content.3 }}</td>
      <td>{{content.4 }}</td>
      <td>{{content.5 }}</td>
      <td>{{content.6 }}</td>
      <td>{{content.7 }}</td>
      <td>{{content.8 }}</td>
      <td>{{content.9 }}</td>
      <td></td>
      <td></td>
    </tr>
{% endfor %}
      </table> </div>
{% endblock %}
